body {
  font-family: 'Ubuntu', sans-serif;
  background-color: aliceblue;
}

.titolo {
  font-family: 'Arvo', serif;
  text-align: center;
  font-size: 2.5em;
  margin: 0;
}



.materia {
  padding: 20px;
  margin: 20px;
}

h5 {
  font-size: 1.2rem;
}

.puca {
  text-align: center;
  font-size: 1rem;
}

.easter {
  background-color: aliceblue;
  width: 10px;
  height: 10px;
}

.easter a {
  color: aliceblue;
  text-decoration: none;
}


@media screen and (max-width: 500px) {
  .titolo {
    font-family: 'Arvo', serif;
    text-align: center;
    font-size: 1em;
    margin: 0;
  }

  h5 {
    font-size: 0.9em;
  }

}
