@import "bootstrap/bootstrap"

html, body
  background-color: aliceblue

.puca
  text-align: center
  font-style: italic
  a
    text-decoration: none
    color: black
    font-weight: bold

#grazie
  h2
    width: 100%
    font-size: 15rem
    text-align: center
    font-style: italic
    color: #828282

.title
  text-align: center
  font-size: 4.5rem
  margin-bottom: 0.5rem
  color: #101010
  text-decoration: none

.table
  margin-top: 2rem

.marz
  color: aliceblue
  text-decoration: none
  &:hover
    color: aliceblue
    text-decoration: none

.zeb
  display: block
  margin-left: auto
  margin-right: auto
  width: 35%
  height: auto
  margin-top: 3rem
  @media only screen and (max-width: 767px)
    width: 50%
    height: auto

.crosta
  display: block
  margin-left: auto
  margin-right: auto
  width: 20%
  height: auto
  border-radius: 5px
  @media only screen and (max-width: 767px)
    width: 50%
    height: auto
    border-radius: 3px

#c
  width: 25%
  margin: 0 auto
  @media only screen and (max-width: 767px)
    width: 45%

.btn
  display: block
  margin-left: auto
  margin-right: auto
  width: 8rem

#nav
  display: flex
  justify-content: center
  ul
    margin: 0
    padding: 0
    li
      padding: 0 0.5rem 0 0.5rem
      display: inline
    a
      color: #222
      text-decoration: none
    [aria-current]
        color: darken(aliceblue, 75%)
        font-weight: bold
